FORMAT: 1A
HOST: https://sandbox-partner-api.orangehealth.dev/

# Partner API Public Order Flow
#### Base URL :

- Testing : `https://sandbox-partner-api.orangehealth.dev`
- Production : `https://partner-api.orangehealth.in`
    

#### Business Logic :

Please reach out to [integrations@orangehealth.in](https://mailto:integrations@orangehealth.in) in order to get your personalised api key for testing, we will create a partner entity that best suits your business needs and share the api key through mail for testing.

Based on the payment collection needs we broadly classify partners as :

- Payment always collected by partner (You collect the payment for each order from the patient and settle with OrangeHealth on a monthly or weekly basis)
- Payment always collected by OrangeHealth (We collect the payment for each order from the patient and credit your earnings)
- Payment decided at order level (You can choose which order has to be collected by OrangeHealth and which ones will be collected by you)
    

#### Auth:

> Add a header as follows (key, value) :  
(api_key : YOUR_API_KEY_HERE) 
  

If you do not have your own API Key and want to explore our APIs initially we have 3 public API keys based on the 3 broad classifications given above

- Payment always collected by partner : `partner-alwaysPartner`
- Payment always collected by OrangeHealth : `partner-alwaysOH`
- Payment decided at order level : `partner-decidedAtOrderLevel`


## Fetch Serviceability [/v1/partner/serviceability{?latitude,longitude,request_date}]
___
#### Location :

For all testing purposes please fetch latitude and longitude from the geofence shown in this [map](https://www.google.com/maps/d/viewer?mid=1kl_3fWKspPnnZZ_m2jJaguEvENgJTso&usp=sharing).  
For production, we will share the geofence we service through mail

For organisations that do not fetch the accurate lat and long from the customer, we have pincode based serviceability check as well.
However, if pincode is used instead of lat and long, we do not provide slots, request has to be created without the selection of slots and our internal team will reach out to the patient to capture the exact location before confirming the slots.

Note: Latitude-longitude gives the available slots and pincode say whether the location is serviceable or not

### Fetch Serviceability [GET]
+ Parameters
  + latitude (number, optional) - Latitude of the sample pick up location. 13.0240 for testing on sandbox
  + longitude (number, optional) - Longitude of the sample pick up location. 77.6433 for testing on sandbox
  + request_date (string, required) - Date of sample pick up in YYYY-MM-DD format. Date has to be >= today (mandatory)
  + pincode (string, optional) - Pincode of the location, in case lat and long is not available. 560043 for testing on sandbox
  
  
+ Request
    + Header
        ```
        api_key:<value>
        ```

+ Response 200 (application/json)

    + Attributes
        + description: Example response where the location is serviceable and the slots are available.
        + response body (object)
            + status: Tells if the location is serviceable or not
            + slots (object)
                + YYYY-MM-DDThh:mm:ss (object)
                    +  slot_datetime: YYYY-MM-DDThh:mm:ss [Same as the key]
                    + is_morning_slot (boolean):
                    + is_afternoon_slot (boolean):
                    + is_evening_slot (boolean):

    + Body
    ```json
    {
    "status": "Location is serviceable",
    "slots": {
        "2023-04-22T07:15:00": {
            "slot_datetime": "2023-04-22T07:15:00",
            "is_morning_slot": true,
            "is_afternoon_slot": false,
            "is_evening_slot": false
        },
        "2023-04-22T08:15:00": {
            "slot_datetime": "2023-04-22T08:15:00",
            "is_morning_slot": true,
            "is_afternoon_slot": false,
            "is_evening_slot": false
        },
        "2023-04-22T09:00:00": {
            "slot_datetime": "2023-04-22T09:00:00",
            "is_morning_slot": true,
            "is_afternoon_slot": false,
            "is_evening_slot": false
        },
        "2023-04-22T10:00:00": {
            "slot_datetime": "2023-04-22T10:00:00",
            "is_morning_slot": true,
            "is_afternoon_slot": false,
            "is_evening_slot": false
        },
        "2023-04-22T10:45:00": {
            "slot_datetime": "2023-04-22T10:45:00",
            "is_morning_slot": true,
            "is_afternoon_slot": false,
            "is_evening_slot": false
        },
        "2023-04-22T11:45:00": {
            "slot_datetime": "2023-04-22T11:45:00",
            "is_morning_slot": true,
            "is_afternoon_slot": false,
            "is_evening_slot": false
        },
        "2023-04-22T12:30:00": {
            "slot_datetime": "2023-04-22T12:30:00",
            "is_morning_slot": false,
            "is_afternoon_slot": true,
            "is_evening_slot": false
        },
        "2023-04-22T13:30:00": {
            "slot_datetime": "2023-04-22T13:30:00",
            "is_morning_slot": false,
            "is_afternoon_slot": true,
            "is_evening_slot": false
        },
        "2023-04-22T15:45:00": {
            "slot_datetime": "2023-04-22T15:45:00",
            "is_morning_slot": false,
            "is_afternoon_slot": true,
            "is_evening_slot": false
        },
        "2023-04-22T16:30:00": {
            "slot_datetime": "2023-04-22T16:30:00",
            "is_morning_slot": false,
            "is_afternoon_slot": true,
            "is_evening_slot": false
        },
        "2023-04-22T17:30:00": {
            "slot_datetime": "2023-04-22T17:30:00",
            "is_morning_slot": false,
            "is_afternoon_slot": false,
            "is_evening_slot": true
        },
        "2023-04-22T18:15:00": {
            "slot_datetime": "2023-04-22T18:15:00",
            "is_morning_slot": false,
            "is_afternoon_slot": false,
            "is_evening_slot": true
        },
        "2023-04-22T19:15:00": {
            "slot_datetime": "2023-04-22T19:15:00",
            "is_morning_slot": false,
            "is_afternoon_slot": false,
            "is_evening_slot": true
        },
        "2023-04-22T20:00:00": {
            "slot_datetime": "2023-04-22T20:00:00",
            "is_morning_slot": false,
            "is_afternoon_slot": false,
            "is_evening_slot": true
        },
        "2023-04-22T21:00:00": {
            "slot_datetime": "2023-04-22T21:00:00",
            "is_morning_slot": false,
            "is_afternoon_slot": false,
            "is_evening_slot": true
        },
        "2023-04-22T21:45:00": {
            "slot_datetime": "2023-04-22T21:45:00",
            "is_morning_slot": false,
            "is_afternoon_slot": false,
            "is_evening_slot": true
        }
    }
    }
    ```
    

+ Response 200 (application/json)

    + Attributes
        + description: Example response where the location is serviceable but the slots are not available.
        + response body (object)
            + status: Tells if the location is serviceable or not
            + slots : No Slots Available

    + Body
    ```json
    {
        "slots": "No Slots Available",
        "status": "Location is serviceable"
    }
    ```
    
+ Response 200 (application/json)

    + Attributes
        + description: Example response where the pincode is used instead of lat and long and is serviceable.
        + response body (object)
            + status: Tells if the location is serviceable or not

    + Body
    ```json
    {
        "status": "Serviceable Pincode Region"
    }
    ```
    
+ Response 400 (application/json)

    + Attributes
        + description: Example response where the location is not serviceable.
        + response body (object)
            + status: Tells if the location is serviceable or not

    + Body
    ```json
    {
        "status": "Location is not serviceable"
    }
    ```
+ Response 404 (application/json)

    + Attributes
        + description: Example response where the pincode is used instead of lat and long and is not serviceable.
        + response body (object)
            + status: Tells if the location is serviceable or not

    + Body
    ```json
    {
        "status": "Unserviceable Pincode Region"
    }
    ```
    

+ Response 400 (application/json)

    + Attributes
        + description: Example response where the mandatory fields are not passed.
        + response body (object)
            + status: Describes what went wrong

    + Body
    ```json
    {
        "status": "Parameters latitude, longitude, date is mandatory"
    }
    ```



+ Response 400 (application/json)

    + Attributes
        + description: Example response where the past or invalid date is provided.
        + response body (object)
            + status: Describes what went wrong

    + Body
    ```json
    {
        "status": "Past or invalid date provided"
    }
    ```
    
    
## Create Order [/v1/partner/order]
___

#### The below table comprises all the keys that are accepted in the request body
    
| Is Mandatory | Object Name | Type | Example | Description |
| --- | --- | --- | --- | --- |
| Yes | primary_patient_name | string | John Doe | Primary patient will be the main POC |
| Yes | primary_patient_number | string | 9999999999 | Primary Patient Number will be the main POC |
| Yes | patient_name | string | Jane Doe | Patient name undergoing the test |
| No | patient_phone | string | 9999999998 | Patient number |
| No | city_code | string | BLR | (BLR/NOA/DEL/HYD/MUM) |
| No | unique_partner_code | string | BLR000290 | Code required to tag orders to a partner |
| No | latitude | string | 12.8911 | Latitude Co-ordinates |
| No | longitude | string | 77.5994 | Longitude Co-ordinates |
| Yes | age | string | 22 | Patient Age in Years |
| Yes | gender | string | male | Patient gender male/female/other |
| No (test or pacakge id is mandatory) | test_id | string | 1 | Test ID according to mapping shared by us |
| No (test or pacakge id is mandatory) | package_id | string | 1 | Package ID according to mapping shared by us |
| No | payment_status | string | paid | Payment status (paid/unpaid) |
| Yes (if decided at order level partner) | payment_type | string | paid_by_patient | Can be one of two options (paid_by_patient, paid_by_group). |
| No | slot_datetime | string | 2023-04-19T01:45:00 | Selected slot date and time |
| No | partner_notes | string | Patient needs so and so to be caren care of.  <br>  <br>Add so and so test to this order | Add additional notes for OH Team if human intervention absolutely necessary.  <br>  <br>If this field is not empty, scheduling won't automatically take place unless our CRM team does it manually after reading the notes |
| Yes | address | string | #912 2nd floor, 80 Feet Rd, 6th Block, Bengaluru, Karnataka 560095 | Detailed address of patient / collection location |
| No | partner_reference_id | string | order_123 | Your organisation's order id or some reference id to the patient that you want Orange Health to tag the particular order/patient to |

- Can choose either tests or packages or both.
- payment_status has to be Paid or Unpaid
- If slot date and time/ location is not provided, status will be Requested and OH team will contact the patient, otherwise if given slot is available and serviceable status will be Scheduled
- Status will also be Requested in the case of some special tests/ packages that will require OH Team to contact the patient for more details
- Some keys like patient details, tests, packages are arrays of JSON Objects hence allows multiple patients/tests in one order
- If partner is of type decided_at_order_level for payment collections :
    - Partner has to send payment_type as paid_by_patient if OH has to collect payment for that order, else paid_by_group if partner collects the payment for the order without OH intervention.
    - PS : If payment_type is not passed, we will automatically default it to paid_by_patient.
    
    

### Create Order (Home Collection) [POST]

+ Request
    + Header
        ```
        api_key:<value>
        ```
    + Body
    ```json
    {
        "address": "Kalyan nagar",
        "location": {
            "latitude": "13.0240",
            "longitude": "77.6433"
        },
        "slot_datetime": "2023-06-15T19:00:00",
        "payment_type": "paid_by_group",
        "primary_patient_name": "Cariappa",
        "primary_patient_number": "9071864604",
        "patient_details": [
            {
                "partner_reference_id": "123_1",
                "patient_name": "Cariappa",
                "patient_phone": "9071864604",
                "age": "23",
                "gender": "Male",
                "tests": [
                    {
                        "test_id": "2"
                    }
                ],
                "packages": []
            },
            {
                "partner_reference_id": "123_2",
                "patient_name": "Shiv",
                "patient_phone": "9844030903",
                "age": "22",
                "gender": "Male",
                "tests": [
                    {
                        "test_id": "2"
                    }
                ],
                "packages": []
            }
        ]
    }
    ```
    
+ Response 202 (application/json)

    + Attributes
        + description: Example response the order is scheduled successfully .
        + response body (object)
            + request_id: First 3 letters are city code, followed by the id
            BLR1901286
            + token: uuid connected to this request
            517dfc6a-7ddd-4da6-a60c-0f67e6f001dc
            + status: Status of the request
            Scheduled/Requested
            + orders (array):
                + item1 (object):
                    + id: Orange Health's Order ID
                    + partnerReferenceId: Your reference ID as passed in request body
                + item2 (object):
                    + id: Orange Health's Order ID if second patient present
                    + partnerReferenceId: Your reference ID as passed in request body

    + Body
    ```json
    {
        "request_id": "BLR1901286",
        "token": "517dfc6a-7ddd-4da6-a60c-0f67e6f001dc",
        "status": "Scheduled",
        "orders": [
            {
                "id": 1897,
                "partnerReferenceId": "123_1"
            },
            {
                "id": 1898,
                "partnerReferenceId": "123_2"
            }
        ]
    }

    ```
    
+ Response 400 (application/json)
    
    + Attributes
        + status: Describes what went wrong, examples shown in array here
        [Selected slot is unavailable, Location provided is unserviceable, Phone number provided is not valid, Invalid / Missing patient or tests details, etc]
        
    + Body
    ```json
    {
        "status": "Location provided is unserviceable"
    }
    ```
    
+ Response 425 (application/json)
    + Attributes
        + status:Same payload ran more than once within a minute
        Request already accepted
    
    + Body
    ```json
    {
    "status": "Request already accepted"
    }
    ```
    

### Create Order (Lab Drop Off) [POST]

This is to be used if the samples will be collected by the partner directly instead of Orange Health Labs, on collection, the partner has to drop off the samples at our labs

Compared to the above payload for home collection, in this lab drop off model, you do not have to pass location and slot_datetime.
However, you will have to pass a new key `"in_clinic_request": true` in order to place a lab drop off order
+ Request
    + Header
        ```
        api_key:<value>
        ```
    + Body
    ```json
    {
        "address": "Kalyan nagar",
        "in_clinic_request": true,
        "primary_patient_name": "Cariappa",
        "primary_patient_number": "9071864604",
        "payment_type": "paid_by_group",
        "patient_details": [
            {
                "partner_reference_id": "123_1",
                "patient_name": "Cariappa",
                "patient_phone": "9071864604",
                "age": "23",
                "gender": "Male",
                "tests": [
                    {
                        "test_id": "2"
                    }
                ],
                "packages": []
            },
            {
                "partner_reference_id": "123_2",
                "patient_name": "Shiv",
                "patient_phone": "9844030903",
                "age": "22",
                "gender": "Male",
                "tests": [
                    {
                        "test_id": "2"
                    }
                ],
                "packages": []
            }
        ]
    }
    ```
    
+ Response 200 (application/json)

    + Attributes
        + description: Example response the order is scheduled successfully .
        + response body (object)
            + request_id: First 3 letters are city code, followed by the id
            BLR1901286
            + token: uuid connected to this request
            517dfc6a-7ddd-4da6-a60c-0f67e6f001dc
            + status: Status of the request
            Scheduled/Requested
            + orders (array):
                + item1 (object):
                    + id: Orange Health's Order ID
                    + partnerReferenceId: Your reference ID as passed in request body
                + item2 (object):
                    + id: Orange Health's Order ID if second patient present
                    + partnerReferenceId: Your reference ID as passed in request body

    + Body
    ```json
    {
        "request_id": "BLR1901286",
        "token": "517dfc6a-7ddd-4da6-a60c-0f67e6f001dc",
        "status": "Scheduled",
        "orders": [
            {
                "id": 1897,
                "partnerReferenceId": "123_1"
            },
            {
                "id": 1898,
                "partnerReferenceId": "123_2"
            }
        ]
    }

    ```
    
    

## Create Camp Order [/v1/partner/camp/{campID}/order]
At Orange Health, we conduct camps for partners where emedics are posted to a predefined location where we expect all the users to show up on a particular date. These camps can run for several days as well.

P.S : Each API will create a request for an individual patient only. We do not support creating multiple patient orders for camps in the same API.

SOP : 
1) Partner Business Team will have to contact Orange Health Business team to finalise camp location, expected user count, tests/packages to be included and so on.
2) Orange Health Team creates a camp for the above details in our system and shares a unique camp id with the partner. Unique camp id will be of the format XXXN. Where The first 3 letters are alphabets followed by digits. This has to be saved by the partner and used while creating a camp order.
3) Partner dev team has to ensure the right unique camp id is used while creating the camp order using the below API. Partner dev team will already have a mapping of tests/packages with their respective IDs, the same has to be used while creating the order in the payload.


### Create Order (Camp Order) [POST]

This API is to be used only for orders created against CAMPS.

+ Parameters
  + campID (required, string) - unique camp id shared by Orange Health Team
  
+ Request
    + Header
        ```
        api_key:<value>
        ```
    + Body
    ```json
    {
        "customer_name": "Jane Doe",
        "customer_number": "9999999999",
        "partner_reference_id": "EMPID1/RollNo1",
        "patient_name": "Jane Doe",
        "age": "7",
        "gender": "",
        "tests": [
            {
                "test_id": "40"
            }
        ],
        "packages":[]
    }
    ```
    
+ Response 200 (application/json)

    + Attributes
        + description: Example response the order is scheduled successfully .
        + response body (object)
            + request_id: First 3 letters are city code, followed by the id
            BLR1901286
            + token: uuid connected to this request
            517dfc6a-7ddd-4da6-a60c-0f67e6f001dc
            + status: Status of the request
            Scheduled/Requested
            + orders (array):
                + item1 (object):
                    + id: Orange Health's Order ID
                    + partnerReferenceId: Your reference ID as passed in request body
                + item2 (object):
                    + id: Orange Health's Order ID if second patient present
                    + partnerReferenceId: Your reference ID as passed in request body

    + Body
    ```json
    {
        "oms_request_id": "BLR1901894",
        "token": "1cc89dc6-f079-4117-a28a-484ae9c8aec5",
        "status": "scheduled",
        "orders": [
            {
                "id": 77921,
                "partnerReferenceId": "EMPCODE1"
            }
        ]
    }

    ```
    
    
    
    
## Get Order Status [/v1/partner/order-details/{requestID}{?token}]
___

Note :

- Emedic details and tracking link will be available after emedic has accepted the collection request (is on his way)
- Each patient will have a reportUrl object pertaining to that individual patient


### Get Order Status [GET]

+ Parameters
  + requestID (required, string) - request_id from the response of create order API.
  + token (required,string) - token from the response of create order API

+ Request
    + Header
        ```
        api_key:<value>
        ```
+ Response 200 (application/json)
    
    + Attributes
        + Description : This example is for initiated status
        
    + Body
    ```json
    {
    "data": {
        "address": [
            {
                "address": "13, Tipsy Bull, JP Nagar 6th Phase",
                "label": "home",
                "latitude": "12.9352",
                "longitude": "77.6245"
            }
        ],
        "collection_time": [
            {
                "preferred_collection_time": "2023-04-22T12:00:00Z"
            }
        ],
        "customer_details": {
            "customer_name": "John Doe",
            "customer_number": "9999999999"
        },
        "emedicDetails": {},
        "id": "BLR300100",
        "patient_information": [
            {
                "invoice": {},
                "patientAge": 21,
                "patientGender": "female",
                "patientName": "Jane Doe",
                "tests": {
                    "prescriptionFile": {},
                    "tests": [
                        {
                            "is_package": true,
                            "is_report_ready": false,
                            "name": "Full Body Checkup - Smart with Vitamin Screening",
                            "test_price": 1299
                        },
                        {
                            "is_package": false,
                            "is_report_ready": false,
                            "name": "Inhibin B",
                            "test_price": 1900
                        },
                        {
                            "is_package": false,
                            "is_report_ready": false,
                            "name": "Lactate Dehydrogenase (LDH)",
                            "test_price": 350
                        }
                    ]
                }
            },
            {
                "invoice": {},
                "patientAge": 23,
                "patientGender": "Male",
                "patientName": "John Doe",
                "tests": {
                    "prescriptionFile": {},
                    "tests": [
                        {
                            "is_package": true,
                            "is_report_ready": false,
                            "name": "Full Body Checkup - Smart with Vitamin Screening",
                            "test_price": 1299
                        }
                    ]
                }
            }
        ],
        "paymentMetadata": [
            {
                "paymentStatus": "pending"
            }
        ],
        "status": "initiated",
        "sub_total": 1299,
        "total_price": 1299,
        "uuid": "0645b372-4c62-4571-8b9c-cb4217db4baf"
        },
    "status": 200
    }
    ```
    
+ Response 200 (application/json)
    
    + Attributes
        + Description : This example is for confirmed status
        
    + Body
    ```json
    {
    "data": {
        "address": [
            {
                "address": "13, Tipsy Bull, JP Nagar 6th Phase",
                "label": "home",
                "latitude": "12.9352",
                "longitude": "77.6245"
            }
        ],
        "collection_time": [
            {
                "confirmed_collection_time": "2023-04-22T12:00:00Z",
                "preferred_collection_time": "2023-04-22T12:00:00Z"
            }
        ],
        "customer_details": {
            "customer_name": "John Doe",
            "customer_number": "9999999999"
        },
        "emedicDetails": {},
        "id": "BLR300104",
        "patient_information": [
            {
                "invoice": {},
                "patientAge": 21,
                "patientGender": "female",
                "patientName": "Jane Doe",
                "tests": {
                    "prescriptionFile": {},
                    "tests": [
                        {
                            "is_package": true,
                            "is_report_ready": false,
                            "name": "Full Body Checkup - Smart with Vitamin Screening",
                            "test_price": 1299
                        },
                        {
                            "is_package": false,
                            "is_report_ready": false,
                            "name": "Inhibin B",
                            "test_price": 1900
                        },
                        {
                            "is_package": false,
                            "is_report_ready": false,
                            "name": "Lactate Dehydrogenase (LDH)",
                            "test_price": 350
                        }
                    ]
                }
            },
            {
                "invoice": {},
                "patientAge": 23,
                "patientGender": "Male",
                "patientName": "John Doe",
                "tests": {
                    "prescriptionFile": {},
                    "tests": [
                        {
                            "is_package": true,
                            "is_report_ready": false,
                            "name": "Full Body Checkup - Smart with Vitamin Screening",
                            "test_price": 1299
                        }
                    ]
                }
            }
        ],
        "paymentMetadata": [
            {
                "paymentStatus": "pending"
            }
        ],
        "status": "confirmed",
        "sub_total": 1299,
        "total_price": 1299,
        "uuid": "a1b34b7d-18a4-4fb2-ae8b-545f6199060c"
    },
    "status": 200
}```

    
+ Response 200 (application/json)
    
    + Attributes
        + Description : This example is for completed status
        
    + Body
    ```json
    {
    "data": {
        "address": [
            {
                "address": "13, Tipsy Bull, JP Nagar 6th Phase",
                "label": "home",
                "latitude": "12.9352",
                "longitude": "77.6245"
            }
        ],
        "collection_time": [
            {
                "confirmed_collection_time": "2023-04-22T14:30:00Z",
                "preferred_collection_time": "2023-04-22T14:30:00Z"
            }
        ],
        "customer_details": {
            "customer_name": "John Doe",
            "customer_number": "9999999999"
        },
        "emedicDetails": {},
        "id": "BLR300114",
        "patient_information": [
            {
                "invoice": {},
                "patientAge": 21,
                "patientGender": "female",
                "patientName": "Jane Doe",
                "reportURL": "https://stag1-files.orangehealth.dev/api/media-url/?fileId=41812&token=ec469e72-cbb6-4d1e-bafa-1460826bdc0c",
                "tests": {
                    "prescriptionFile": {},
                    "tests": [
                        {
                            "is_package": false,
                            "is_report_ready": true,
                            "name": "Inhibin B",
                            "test_price": 1900
                        }
                    ]
                }
            }
        ],
        "paymentMetadata": [
            {
                "paymentStatus": "paid"
            }
        ],
        "status": "completed",
        "sub_total": 0,
        "total_price": 0,
        "uuid": "877ea35a-e962-4d46-beab-be3693cc8b8f"
    },
    "status": 200
}```

+ Response 400 (application/json)
    + Attributes
        + status : invalid request id or token is passed
        Could not get request details, re-verify request ID and token provided

    + Body
    ```json
    {
        "status": "Could not get request details, re-verify request ID and token provided"
    }
    ```
    

  
## Get Test Results [/v1/partner/test-results{?creation_start_date,creation_end_date,request_id,patient_id}]
___

This request returns all the test-level parameters provided the partner is allowed to request them. (Configurable through OH end, please get in touch with [integrations@orangehealth.in](https://mailto:integrations@orangehealth.in) for the same)

Things to note:

1. Three filters can be used:
    1. **Date range filter**
    2. **Request ID**
    3. **Patient ID**
    4. **primary_patient_number**
2. One of the filters is required to query the data.
3. The date range filter requires `creation_start_date` and `creation_end_date` to be provided with a difference of **7 days or less**. The dates should be provided in `YYYY-MM-DD` format and are presumed to be in the **IST timezone.**
4. You can provide more than one request ID
5. You can provide more than one patient ID
6. See all the examples in the collection for all successful responses and all possible error messages.

### Get Test Results [GET]

+ Parameters
  + creation_start_date (required, string) - Order completion start date in the date range filter.
  + creation_end_date (required,string) - Order completion end date in the date range filter.
  + request_id - Request ID provided to partners after an order is placed, more than one can be sent
  + patient_id - Patient ID from Orange health database, more than one can be sent.
  + primary_patient_number - phone number used to create an order, only one can be sent 

+ Request
    + Header
        ```
        api_key:<value>
        ```
    
+ Response 200 (application/json)

    + Body
    ```json
    {
    "data": {
        "orders": [
            {
                "order_completed_at": null,
                "order_created_at": "2024-06-20T06:28:20Z",
                "order_id": 878111,
                "partner_reference_id": "",
                "patient_age": 23,
                "patient_gender": "male",
                "patient_id": "",
                "patient_name": "Shubham OH Testing",
                "primary_patient_number": "9663479757",
                "request_id": "BLR680877",
                "tests": [
                    {
                        "investigation_code": "OD0310",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "APTT - TEST",
                        "investigation_range": "17.8-39.8",
                        "investigation_value": "40",
                        "investigation_value_unit": "seconds",
                        "master_investigation_id": 49,
                        "master_package_id": 0,
                        "master_test_id": 5,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0001",
                        "test_id": 3598192,
                        "test_name": "Activated Partial Thromboplastin Time (aPTT)"
                    },
                    {
                        "investigation_code": "OD0311",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "aPTT - Control",
                        "investigation_range": "",
                        "investigation_value": "1",
                        "investigation_value_unit": "seconds",
                        "master_investigation_id": 48,
                        "master_package_id": 0,
                        "master_test_id": 5,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0001",
                        "test_id": 3598192,
                        "test_name": "Activated Partial Thromboplastin Time (aPTT)"
                    },
                    {
                        "investigation_code": "OD0034",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "ALPHA FETO-PROTEIN (AFP)",
                        "investigation_range": "< 7.22",
                        "investigation_value": "9",
                        "investigation_value_unit": "IU/mL",
                        "master_investigation_id": 25,
                        "master_package_id": 0,
                        "master_test_id": 14,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0034",
                        "test_id": 3598196,
                        "test_name": "Alpha Feto Protein (AFP)"
                    },
                    {
                        "investigation_code": "OD0035",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Amylase",
                        "investigation_range": "30-110",
                        "investigation_value": "30",
                        "investigation_value_unit": "U/L",
                        "master_investigation_id": 30,
                        "master_package_id": 0,
                        "master_test_id": 16,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0035",
                        "test_id": 3598197,
                        "test_name": "Amylase"
                    },
                    {
                        "investigation_code": "OD0359",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Amylase, Urine",
                        "investigation_range": "< 460",
                        "investigation_value": "469",
                        "investigation_value_unit": "U/L",
                        "master_investigation_id": 32,
                        "master_package_id": 0,
                        "master_test_id": 17,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0359",
                        "test_id": 3598198,
                        "test_name": "Amylase, Urine"
                    },
                    {
                        "investigation_code": "OD0110",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Anti-Streptolysin O(ASO) Titre",
                        "investigation_range": "< 200",
                        "investigation_value": "300.0",
                        "investigation_value_unit": "IU/mL",
                        "master_investigation_id": 40,
                        "master_package_id": 0,
                        "master_test_id": 18,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0110",
                        "test_id": 3598199,
                        "test_name": "Antistreptolysin O (ASO) Titre"
                    },
                    {
                        "investigation_code": "OD0111",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Beta HCG- Maternal marker",
                        "investigation_range": "Negative: < 5",
                        "investigation_value": "2",
                        "investigation_value_unit": "mIU/mL",
                        "master_investigation_id": 57,
                        "master_package_id": 0,
                        "master_test_id": 22,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0111",
                        "test_id": 3598201,
                        "test_name": "Beta hCG - Pregnancy marker"
                    },
                    {
                        "investigation_code": "OD0139",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Blood group &amp Rh typing",
                        "investigation_range": "",
                        "investigation_value": "A POSITIVE",
                        "investigation_value_unit": "",
                        "master_investigation_id": 74,
                        "master_package_id": 0,
                        "master_test_id": 25,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0139",
                        "test_id": 3598203,
                        "test_name": "Blood Group ABO and RH Factor"
                    },
                    {
                        "investigation_code": "OD0088",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Blood Urea Nitrogen (BUN)",
                        "investigation_range": "6-20",
                        "investigation_value": "7.9",
                        "investigation_value_unit": "mg/dL",
                        "master_investigation_id": 75,
                        "master_package_id": 0,
                        "master_test_id": 27,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODB006",
                        "test_id": 3598205,
                        "test_name": "Blood Urea Nitrogen (BUN)"
                    },
                    {
                        "investigation_code": "OD0160",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Urea",
                        "investigation_range": "19-43 Newborn: 6.5-25.5",
                        "investigation_value": "17.0",
                        "investigation_value_unit": "mg/dL",
                        "master_investigation_id": 402,
                        "master_package_id": 0,
                        "master_test_id": 27,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODB006",
                        "test_id": 3598205,
                        "test_name": "Blood Urea Nitrogen (BUN)"
                    },
                    {
                        "investigation_code": "OD0113",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "CA -125",
                        "investigation_range": "< 35",
                        "investigation_value": "30.0",
                        "investigation_value_unit": "U/mL",
                        "master_investigation_id": 82,
                        "master_package_id": 0,
                        "master_test_id": 33,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0113",
                        "test_id": 3598209,
                        "test_name": "Cancer Antigen 125 (CA 125)"
                    },
                    {
                        "investigation_code": "OD0145",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Absolute Lymphocyte Count",
                        "investigation_range": "1000-3000",
                        "investigation_value": "1200",
                        "investigation_value_unit": "/ cu.mm",
                        "master_investigation_id": 11,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0056",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Absolute Monocyte Count",
                        "investigation_range": "200-1000",
                        "investigation_value": "480",
                        "investigation_value_unit": "/ cu.mm",
                        "master_investigation_id": 12,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0146",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Absolute Neutrophil Count",
                        "investigation_range": "2000-7000",
                        "investigation_value": "1440",
                        "investigation_value_unit": "/ cu.mm",
                        "master_investigation_id": 13,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0147",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Absolute Eosinophil Count",
                        "investigation_range": "20-500",
                        "investigation_value": "80",
                        "investigation_value_unit": "/ cu.mm",
                        "master_investigation_id": 10,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0636",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Platelet hematocrit",
                        "investigation_range": "0.20-0.50",
                        "investigation_value": "0.90",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 296,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0637",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Mean Platelet Volume (MPV)",
                        "investigation_range": "7-13",
                        "investigation_value": "10",
                        "investigation_value_unit": "fL",
                        "master_investigation_id": 243,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0638",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Neutrophil Lymphocyte Ratio (NLR)",
                        "investigation_range": "1.0-3.0",
                        "investigation_value": "1.2",
                        "investigation_value_unit": "Ratio",
                        "master_investigation_id": 259,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0641",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Mentzer Index",
                        "investigation_range": "Beta Thalassemia trait: < 14 Iron deficiency anaemia: >= 14",
                        "investigation_value": "20.4",
                        "investigation_value_unit": "Index",
                        "master_investigation_id": 244,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0642",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Sehgal index",
                        "investigation_range": "Beta Thalassemia trait: < 972 Iron deficiency anaemia: >= 972",
                        "investigation_value": "2080.8",
                        "investigation_value_unit": "Index",
                        "master_investigation_id": 349,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0131",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Haematocrit(PCV)",
                        "investigation_range": "40-50",
                        "investigation_value": "30",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 183,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0046",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Haemoglobin (Hb)",
                        "investigation_range": "13.0-17.0",
                        "investigation_value": "14.0",
                        "investigation_value_unit": "gm/dL",
                        "master_investigation_id": 184,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0132",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Mean Corpuscular Volume(MCV)",
                        "investigation_range": "83-101",
                        "investigation_value": "102",
                        "investigation_value_unit": "fL",
                        "master_investigation_id": 241,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0133",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Mean Corpuscular Haemoglobin(MCH)",
                        "investigation_range": "27-32",
                        "investigation_value": "3032",
                        "investigation_value_unit": "pg",
                        "master_investigation_id": 240,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0134",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Mean Corpuscular Haemoglobin Concentration(MCHC)",
                        "investigation_range": "31.5-34.5",
                        "investigation_value": "30",
                        "investigation_value_unit": "g/dL",
                        "master_investigation_id": 239,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0136",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Platelet count",
                        "investigation_range": "150-450",
                        "investigation_value": "200",
                        "investigation_value_unit": "10^3/ul",
                        "master_investigation_id": 295,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0135",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Red cell distribution width (RDW)",
                        "investigation_range": "11.6-14.0",
                        "investigation_value": "12",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 333,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0162",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Absolute Basophil Count",
                        "investigation_range": "0-100",
                        "investigation_value": "40",
                        "investigation_value_unit": "/ cu.mm",
                        "master_investigation_id": 8,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0164",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "RBC count",
                        "investigation_range": "4.5-5.5",
                        "investigation_value": "5",
                        "investigation_value_unit": "mill/cu.mm",
                        "master_investigation_id": 325,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0165",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Total WBC count - TC",
                        "investigation_range": "4000-10000",
                        "investigation_value": "2000",
                        "investigation_value_unit": "cells/cu.mm",
                        "master_investigation_id": 389,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "group_name": "Differential Count (DC)",
                        "investigation_code": "OD0218",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Neutrophils",
                        "investigation_range": "40-80",
                        "investigation_value": "36",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 260,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "group_name": "Differential Count (DC)",
                        "investigation_code": "OD0219",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Lymphocytes",
                        "investigation_range": "20-40",
                        "investigation_value": "30",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 234,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "group_name": "Differential Count (DC)",
                        "investigation_code": "OD0220",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Monocytes",
                        "investigation_range": "2-10",
                        "investigation_value": "12",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 254,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "group_name": "Differential Count (DC)",
                        "investigation_code": "OD0221",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Eosinophils",
                        "investigation_range": "1-6",
                        "investigation_value": "2",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 151,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "group_name": "Differential Count (DC)",
                        "investigation_code": "OD0222",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Basophils",
                        "investigation_range": "0-2",
                        "investigation_value": "1",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 53,
                        "master_package_id": 0,
                        "master_test_id": 40,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0022",
                        "test_id": 3598213,
                        "test_name": "Complete Blood Count (CBC)"
                    },
                    {
                        "investigation_code": "OD0049",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Cortisol - PM",
                        "investigation_range": "1.7-14.1",
                        "investigation_value": "1.0",
                        "investigation_value_unit": "µg/dL",
                        "master_investigation_id": 112,
                        "master_package_id": 0,
                        "master_test_id": 42,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0049",
                        "test_id": 3598215,
                        "test_name": "Cortisol - PM"
                    },
                    {
                        "investigation_code": "OD0048",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Cortisol - AM",
                        "investigation_range": "4.46-22.7",
                        "investigation_value": "23.0",
                        "investigation_value_unit": "µg/dL",
                        "master_investigation_id": 111,
                        "master_package_id": 0,
                        "master_test_id": 43,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0048",
                        "test_id": 3598217,
                        "test_name": "Cortisol - AM"
                    },
                    {
                        "investigation_code": "ODB0315",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Cortisol (Random)",
                        "investigation_range": "Morning sample: 4.46-22.7 Evening sample: 1.7-14.1",
                        "investigation_value": "3.0",
                        "investigation_value_unit": "µg/dL",
                        "master_investigation_id": 113,
                        "master_package_id": 0,
                        "master_test_id": 44,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODB0315",
                        "test_id": 3598219,
                        "test_name": "Cortisol (Random)"
                    },
                    {
                        "investigation_code": "OD0038",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "C-Peptide (Random)",
                        "investigation_range": "Fasting: 0.73-3.68 Post prandial: 3.0-9.0",
                        "investigation_value": "1",
                        "investigation_value_unit": "ng/mL",
                        "master_investigation_id": 80,
                        "master_package_id": 0,
                        "master_test_id": 45,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0038",
                        "test_id": 3598221,
                        "test_name": "C-peptide- Random"
                    },
                    {
                        "investigation_code": "OD0112",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "C-Reactive Protein (CRP)",
                        "investigation_range": "< 10",
                        "investigation_value": "12",
                        "investigation_value_unit": "mg/L",
                        "master_investigation_id": 81,
                        "master_package_id": 0,
                        "master_test_id": 46,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0112",
                        "test_id": 3598222,
                        "test_name": "C-Reactive Protein (CRP)"
                    },
                    {
                        "investigation_code": "OD0115",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "High sensitive CRP",
                        "investigation_range": "",
                        "investigation_value": "1.0",
                        "investigation_value_unit": "mg/L",
                        "master_investigation_id": 195,
                        "master_package_id": 0,
                        "master_test_id": 47,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0115",
                        "test_id": 3598223,
                        "test_name": "High Sensitive C-Reactive Protein (HSCRP)"
                    },
                    {
                        "investigation_code": "OD0092",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "CK-MB",
                        "investigation_range": "< 3.38",
                        "investigation_value": "2.23",
                        "investigation_value_unit": "ng/mL",
                        "master_investigation_id": 99,
                        "master_package_id": 0,
                        "master_test_id": 48,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0092",
                        "test_id": 3598224,
                        "test_name": "Creatine Phosphokinase -MB (CKMB/CPKMB)"
                    },
                    {
                        "investigation_code": "OD0377",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Creatinine, 24 hrs Urine",
                        "investigation_range": "1000-2000",
                        "investigation_value": "1.00",
                        "investigation_value_unit": "mg/24 hr",
                        "master_investigation_id": 122,
                        "master_package_id": 0,
                        "master_test_id": 49,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODN99",
                        "test_id": 3598226,
                        "test_name": "Creatinine, 24 hrs Urine"
                    },
                    {
                        "investigation_code": "OD0535",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "24HR URINE VOLUME - BIOCHEMISTRY",
                        "investigation_range": "",
                        "investigation_value": "1",
                        "investigation_value_unit": "mL/24hr",
                        "master_investigation_id": 5,
                        "master_package_id": 0,
                        "master_test_id": 49,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODN99",
                        "test_id": 3598226,
                        "test_name": "Creatinine, 24 hrs Urine"
                    },
                    {
                        "investigation_code": "OD0194",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Creatinine - Urine",
                        "investigation_range": "24-392",
                        "investigation_value": "100",
                        "investigation_value_unit": "mg/dL",
                        "master_investigation_id": 120,
                        "master_package_id": 0,
                        "master_test_id": 49,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODN99",
                        "test_id": 3598226,
                        "test_name": "Creatinine, 24 hrs Urine"
                    },
                    {
                        "investigation_code": "OD0535",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "24HR URINE VOLUME - BIOCHEMISTRY",
                        "investigation_range": "",
                        "investigation_value": "1",
                        "investigation_value_unit": "mL/24hr",
                        "master_investigation_id": 5,
                        "master_package_id": 0,
                        "master_test_id": 50,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODG05",
                        "test_id": 3598229,
                        "test_name": "Creatinine Clearance, 24 hours Urine"
                    },
                    {
                        "investigation_code": "OD0093",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Creatinine",
                        "investigation_range": "0.66-1.25",
                        "investigation_value": "1.00",
                        "investigation_value_unit": "mg/dL",
                        "master_investigation_id": 117,
                        "master_package_id": 0,
                        "master_test_id": 50,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODG05",
                        "test_id": 3598229,
                        "test_name": "Creatinine Clearance, 24 hours Urine"
                    },
                    {
                        "investigation_code": "OD0065",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "CREATININE CLEARANCE",
                        "investigation_range": "110-150",
                        "investigation_value": "1.0",
                        "investigation_value_unit": "mL/min",
                        "master_investigation_id": 121,
                        "master_package_id": 0,
                        "master_test_id": 50,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODG05",
                        "test_id": 3598229,
                        "test_name": "Creatinine Clearance, 24 hours Urine"
                    },
                    {
                        "investigation_code": "OD0194",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Creatinine - Urine",
                        "investigation_range": "24-392",
                        "investigation_value": "100",
                        "investigation_value_unit": "mg/dL",
                        "master_investigation_id": 120,
                        "master_package_id": 0,
                        "master_test_id": 50,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODG05",
                        "test_id": 3598229,
                        "test_name": "Creatinine Clearance, 24 hours Urine"
                    },
                    {
                        "investigation_code": "OD0299",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Dengue NS1 Antigen",
                        "investigation_range": "Negative",
                        "investigation_value": "Negative",
                        "investigation_value_unit": "",
                        "master_investigation_id": 137,
                        "master_package_id": 0,
                        "master_test_id": 56,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODB018",
                        "test_id": 3598237,
                        "test_name": "Dengue Profile (Rapid)"
                    },
                    {
                        "investigation_code": "OD0300",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Dengue IgM antibody",
                        "investigation_range": "Negative",
                        "investigation_value": "Negative",
                        "investigation_value_unit": "",
                        "master_investigation_id": 134,
                        "master_package_id": 0,
                        "master_test_id": 56,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODB018",
                        "test_id": 3598237,
                        "test_name": "Dengue Profile (Rapid)"
                    },
                    {
                        "investigation_code": "OD0301",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Dengue IgG antibody",
                        "investigation_range": "Negative",
                        "investigation_value": "Negative",
                        "investigation_value_unit": "",
                        "master_investigation_id": 131,
                        "master_package_id": 0,
                        "master_test_id": 56,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODB018",
                        "test_id": 3598237,
                        "test_name": "Dengue Profile (Rapid)"
                    },
                    {
                        "investigation_code": "OD0154",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Dengue NS1 Antigen",
                        "investigation_range": "Negative",
                        "investigation_value": "Negative",
                        "investigation_value_unit": "",
                        "master_investigation_id": 137,
                        "master_package_id": 0,
                        "master_test_id": 61,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0154",
                        "test_id": 3598241,
                        "test_name": "Dengue NS1 Antigen Rapid"
                    },
                    {
                        "investigation_code": "OD0140",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Direct coombs test",
                        "investigation_range": "Negative",
                        "investigation_value": "Negative",
                        "investigation_value_unit": "",
                        "master_investigation_id": 143,
                        "master_package_id": 0,
                        "master_test_id": 63,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0140",
                        "test_id": 3598242,
                        "test_name": "Direct Coombs Test (DCT)"
                    },
                    {
                        "investigation_code": "OD0128",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Potassium-Urine",
                        "investigation_range": "> 20",
                        "investigation_value": "10",
                        "investigation_value_unit": "mEq/L",
                        "master_investigation_id": 303,
                        "master_package_id": 0,
                        "master_test_id": 64,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0012",
                        "test_id": 3598243,
                        "test_name": "Electrolytes, Random Urine"
                    },
                    {
                        "investigation_code": "OD0174",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Chloride-urine",
                        "investigation_range": "18-209",
                        "investigation_value": "17",
                        "investigation_value_unit": "mEq/L",
                        "master_investigation_id": 97,
                        "master_package_id": 0,
                        "master_test_id": 64,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0012",
                        "test_id": 3598243,
                        "test_name": "Electrolytes, Random Urine"
                    },
                    {
                        "investigation_code": "OD0175",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Sodium-Urine",
                        "investigation_range": "> 20",
                        "investigation_value": "30",
                        "investigation_value_unit": "mEq/L",
                        "master_investigation_id": 364,
                        "master_package_id": 0,
                        "master_test_id": 64,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0012",
                        "test_id": 3598243,
                        "test_name": "Electrolytes, Random Urine"
                    },
                    {
                        "investigation_code": "OD0090",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Chloride",
                        "investigation_range": "98-107",
                        "investigation_value": "109",
                        "investigation_value_unit": "mmol/L",
                        "master_investigation_id": 95,
                        "master_package_id": 0,
                        "master_test_id": 65,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0014",
                        "test_id": 3598244,
                        "test_name": "Electrolytes"
                    },
                    {
                        "investigation_code": "OD0255",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Sodium",
                        "investigation_range": "137-145",
                        "investigation_value": "140",
                        "investigation_value_unit": "mmol/L",
                        "master_investigation_id": 359,
                        "master_package_id": 0,
                        "master_test_id": 65,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0014",
                        "test_id": 3598244,
                        "test_name": "Electrolytes"
                    },
                    {
                        "investigation_code": "OD0256",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Potassium",
                        "investigation_range": "3.5-5.5",
                        "investigation_value": "4.0",
                        "investigation_value_unit": "mmol/L",
                        "master_investigation_id": 300,
                        "master_package_id": 0,
                        "master_test_id": 65,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0014",
                        "test_id": 3598244,
                        "test_name": "Electrolytes"
                    },
                    {
                        "investigation_code": "OD0114",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Estradiol (E2)",
                        "investigation_range": "Males: 5.37-65.9",
                        "investigation_value": "6",
                        "investigation_value_unit": "pg/mL",
                        "master_investigation_id": 155,
                        "master_package_id": 0,
                        "master_test_id": 67,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0114",
                        "test_id": 3598246,
                        "test_name": "Estradiol (E2)"
                    },
                    {
                        "investigation_code": "OD0441",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Free T4",
                        "investigation_range": "0.78-2.19",
                        "investigation_value": "1",
                        "investigation_value_unit": "ng/dL",
                        "master_investigation_id": 165,
                        "master_package_id": 0,
                        "master_test_id": 68,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD00301",
                        "test_id": 3598247,
                        "test_name": "Extended Thyroid Profile"
                    },
                    {
                        "investigation_code": "OD0440",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Free T3",
                        "investigation_range": "2.77-5.27",
                        "investigation_value": "3",
                        "investigation_value_unit": "pg/mL",
                        "master_investigation_id": 164,
                        "master_package_id": 0,
                        "master_test_id": 68,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD00301",
                        "test_id": 3598247,
                        "test_name": "Extended Thyroid Profile"
                    },
                    {
                        "group_name": "Thyroid Function Test (TFT)",
                        "investigation_code": "OD0122",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Total T3",
                        "investigation_range": "0.97-1.69",
                        "investigation_value": "1.00",
                        "investigation_value_unit": "ng/mL",
                        "master_investigation_id": 387,
                        "master_package_id": 0,
                        "master_test_id": 68,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD00301",
                        "test_id": 3598247,
                        "test_name": "Extended Thyroid Profile"
                    },
                    {
                        "group_name": "Thyroid Function Test (TFT)",
                        "investigation_code": "OD0123",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Total T4",
                        "investigation_range": "5.53-11.0",
                        "investigation_value": "6.00",
                        "investigation_value_unit": "ug/dl",
                        "master_investigation_id": 388,
                        "master_package_id": 0,
                        "master_test_id": 68,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD00301",
                        "test_id": 3598247,
                        "test_name": "Extended Thyroid Profile"
                    },
                    {
                        "group_name": "Thyroid Function Test (TFT)",
                        "investigation_code": "OD0126",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Thyroid Stimulating Hormone (TSH)",
                        "investigation_range": "0.400-4.049",
                        "investigation_value": "5.000",
                        "investigation_value_unit": "µIU/mL",
                        "master_investigation_id": 382,
                        "master_package_id": 0,
                        "master_test_id": 68,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD00301",
                        "test_id": 3598247,
                        "test_name": "Extended Thyroid Profile"
                    },
                    {
                        "investigation_code": "OD0039",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Ferritin",
                        "investigation_range": "> 15 Years : 17.9-464",
                        "investigation_value": "15",
                        "investigation_value_unit": "ng/mL",
                        "master_investigation_id": 159,
                        "master_package_id": 0,
                        "master_test_id": 71,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0039",
                        "test_id": 3598250,
                        "test_name": "Ferritin"
                    },
                    {
                        "investigation_code": "OD0099",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Glucose Challenge Test(75 g)-one hour",
                        "investigation_range": "< 180",
                        "investigation_value": "190",
                        "investigation_value_unit": "mg/dL",
                        "master_investigation_id": 172,
                        "master_package_id": 0,
                        "master_test_id": 73,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0099",
                        "test_id": 3598252,
                        "test_name": "Glucose Challenge Test (75 g) - 1 hour"
                    },
                    {
                        "investigation_code": "OD0100",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Glucose Challenge Test(75 g)-Two hour",
                        "investigation_range": "",
                        "investigation_value": "123",
                        "investigation_value_unit": "mg/dL",
                        "master_investigation_id": 173,
                        "master_package_id": 0,
                        "master_test_id": 74,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0100",
                        "test_id": 3598253,
                        "test_name": "Glucose Challenge Test (75 g) - 2 hours"
                    },
                    {
                        "investigation_code": "OD0163",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Haemoglobin (Hb)",
                        "investigation_range": "13.0-17.0",
                        "investigation_value": "18",
                        "investigation_value_unit": "gm/dL",
                        "master_investigation_id": 184,
                        "master_package_id": 0,
                        "master_test_id": 78,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0021",
                        "test_id": 3598254,
                        "test_name": "Hb TC DC"
                    },
                    {
                        "investigation_code": "OD0165",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Total WBC count - TC",
                        "investigation_range": "4000-10000",
                        "investigation_value": "2000",
                        "investigation_value_unit": "cells/cu.mm",
                        "master_investigation_id": 389,
                        "master_package_id": 0,
                        "master_test_id": 78,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0021",
                        "test_id": 3598254,
                        "test_name": "Hb TC DC"
                    },
                    {
                        "investigation_code": "OD0218",
                        "investigation_is_abnormal": "L",
                        "investigation_name": "Neutrophils",
                        "investigation_range": "40-80",
                        "investigation_value": "36",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 260,
                        "master_package_id": 0,
                        "master_test_id": 78,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0021",
                        "test_id": 3598254,
                        "test_name": "Hb TC DC"
                    },
                    {
                        "investigation_code": "OD0219",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Lymphocytes",
                        "investigation_range": "20-40",
                        "investigation_value": "30",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 234,
                        "master_package_id": 0,
                        "master_test_id": 78,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0021",
                        "test_id": 3598254,
                        "test_name": "Hb TC DC"
                    },
                    {
                        "investigation_code": "OD0220",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Monocytes",
                        "investigation_range": "2-10",
                        "investigation_value": "12",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 254,
                        "master_package_id": 0,
                        "master_test_id": 78,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0021",
                        "test_id": 3598254,
                        "test_name": "Hb TC DC"
                    },
                    {
                        "investigation_code": "OD0221",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Eosinophils",
                        "investigation_range": "1-6",
                        "investigation_value": "2",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 151,
                        "master_package_id": 0,
                        "master_test_id": 78,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0021",
                        "test_id": 3598254,
                        "test_name": "Hb TC DC"
                    },
                    {
                        "investigation_code": "OD0222",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Basophils",
                        "investigation_range": "0-2",
                        "investigation_value": "1",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 53,
                        "master_package_id": 0,
                        "master_test_id": 78,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0021",
                        "test_id": 3598254,
                        "test_name": "Hb TC DC"
                    },
                    {
                        "investigation_code": "OD0101",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Glycosylated Haemoglobin (HbA1c)",
                        "investigation_range": "Normal: < 5.7 Pre-Diabetes: 5.7-6.4 Diabetes: >= 6.5",
                        "investigation_value": "5.7",
                        "investigation_value_unit": "%",
                        "master_investigation_id": 178,
                        "master_package_id": 0,
                        "master_test_id": 79,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODB003",
                        "test_id": 3598255,
                        "test_name": "Glycosylated Haemoglobin (HbA1c)"
                    },
                    {
                        "investigation_code": "OD0244",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Mean Blood Glucose",
                        "investigation_range": "",
                        "investigation_value": "117",
                        "investigation_value_unit": "mg/dL",
                        "master_investigation_id": 238,
                        "master_package_id": 0,
                        "master_test_id": 79,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODB003",
                        "test_id": 3598255,
                        "test_name": "Glycosylated Haemoglobin (HbA1c)"
                    },
                    {
                        "investigation_code": "OD0151",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "HBsAg",
                        "investigation_range": "Non-reactive: < 0.90 Reactive: >= 1.00 Borderline: 0.90-1.00",
                        "investigation_value": "0.78",
                        "investigation_value_unit": "S/C Units",
                        "master_investigation_id": 188,
                        "master_package_id": 0,
                        "master_test_id": 81,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0151",
                        "test_id": 3598257,
                        "test_name": "HBsAg (ECLIA)"
                    },
                    {
                        "investigation_code": "ODB0310",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "HBsAg",
                        "investigation_range": "Non-reactive",
                        "investigation_value": "reactive",
                        "investigation_value_unit": "S/C Units",
                        "master_investigation_id": 188,
                        "master_package_id": 0,
                        "master_test_id": 82,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODB0310",
                        "test_id": 3598258,
                        "test_name": "HBsAg (Qualitative) (Rapid)"
                    },
                    {
                        "investigation_code": "OD0400",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Homocysteine",
                        "investigation_range": "6.6-14.8",
                        "investigation_value": "7",
                        "investigation_value_unit": "µmol/L",
                        "master_investigation_id": 199,
                        "master_package_id": 0,
                        "master_test_id": 84,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0400",
                        "test_id": 3598260,
                        "test_name": "Homocysteine (HCY)"
                    },
                    {
                        "investigation_code": "ODB0351",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "HIV 1&amp2(Rapid)",
                        "investigation_range": "Non-reactive",
                        "investigation_value": "Non-reactive",
                        "investigation_value_unit": "",
                        "master_investigation_id": 197,
                        "master_package_id": 0,
                        "master_test_id": 85,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "ODB0351",
                        "test_id": 3598261,
                        "test_name": "HIV 1&2 (Qualitative) (Rapid)"
                    },
                    {
                        "investigation_code": "OD0116",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Immunoglobulin E (IgE)",
                        "investigation_range": "< 100",
                        "investigation_value": "100.0",
                        "investigation_value_unit": "IU/mL",
                        "master_investigation_id": 201,
                        "master_package_id": 0,
                        "master_test_id": 86,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0116",
                        "test_id": 3598262,
                        "test_name": "Immunoglobulin E (Total IgE)"
                    },
                    {
                        "investigation_code": "OD0141",
                        "investigation_is_abnormal": "N",
                        "investigation_name": "Indirect Coombs test",
                        "investigation_range": "Negative",
                        "investigation_value": "Negative",
                        "investigation_value_unit": "",
                        "master_investigation_id": 205,
                        "master_package_id": 0,
                        "master_test_id": 88,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0141",
                        "test_id": 3598264,
                        "test_name": "Indirect Coombs Test (ICT)"
                    },
                    {
                        "investigation_code": "OD0044",
                        "investigation_is_abnormal": "A",
                        "investigation_name": "Iron",
                        "investigation_range": "49-181",
                        "investigation_value": "200",
                        "investigation_value_unit": "µg/dL",
                        "master_investigation_id": 221,
                        "master_package_id": 0,
                        "master_test_id": 90,
                        "medical_remarks": "",
                        "package_name": "",
                        "test_code": "OD0029",
                        "test_id": 3598266,
                        "test_name": "Iron Profile"
                    },
[...]
